img {
    height: auto;
    max-width: 240px;
  }

.tableImage {
    width:180px; 
    height:180px; 
    border-radius:50%; 
    background-size:cover;
    margin-left: 16px;
    margin-top: 16px;
    box-shadow: 0px 2px 6px 2px #000000;
}

.tableImage.noImage {
    opacity: 0.3;
    margin-left: 0;
    margin-top: 0;
}

.tableText {
    position: absolute; 
    top: 60px;
    width: 80%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}

.tableText.noImage {
    color: #444444;
}