html {
    font-size: 16px;
}

body {
    background:#334134;
}

h1 {
    color: #4a4a4a;
    margin: 20px 0;

}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}
.u-width100 {
    width: 100%
}
.u-alignCenter {
    text-align: center;
}

.u-block {
    display: block;
}

.u-inlineBlock {
    display: inline-block;
}
.u-heading {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.u-link {
    text-decoration: none;
    color: blue;
    font-style: italic;
}


.u-paddingRsm {
    padding-right: 8px;
}


.u-paddingLsm {
    padding-left: 8px;
}

.u-paddingBsm {
    padding-bottom: 8px;
}

.u-paddingTsm {
    padding-top: 8px;
}

.u-paddingVsm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.u-paddingHsm {
    padding-left: 8px;
    padding-right: 8px;
}

.u-paddingRsm {
    padding-right: 8px;
}

.u-marginRsm {
    margin-right: 8px;
}

.u-marginLsm {
    margin-left: 8px;
}

.u-marginBsm {
    margin-bottom: 8px;
}

.u-marginTsm {
    margin-top: 8px;
}

.u-marginVsm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.u-marginHsm {
    margin-left: 8px;
    margin-right: 8px;
}
.u-marginR {
    margin-right: 16px;
}

.u-marginL {
    margin-left: 16px;
}

.u-marginB {
    margin-bottom: 16px;
}

.u-marginT {
    margin-top: 16px;
}

.u-marginV {
    margin-top: 16px;
    margin-bottom: 16px;
}

.u-marginH {
    margin-left: 16px;
    margin-right: 16px;
}

.u-paddingL {
    padding-left: 16px;
}

.u-paddingR {
    padding-right: 16px;
}

.u-paddingT {
    padding-top: 16px;
}

.u-paddingB {
    padding-bottom: 16px;
}
.u-mainNormal {
    margin: 0 auto;
    width: 80%;
}
.u-mainContent {
    background: #A3B59E;
}

.u-flex {
    display: flex;
}

.u-flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.u-flexSpaceAround {
    display: flex;
    justify-content: space-around
}

.u-flexWrap {
    flex-wrap: wrap;
}
.u-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-width20 {
    width: 20%;
}

.u-width40 {
    width: 40%;
}

.u-width10 {
    width: 10%;
}
.u-maxWidth40 {
    max-width: 40%;
}
.u-inlineBlock {
    display: inline-block;
}

.u-alignMiddle {
    vertical-align: middle;
}

.u-colorBgGreyLight {
    background: #eeeeee;
}

.u-colorBgGrey {
    background: #e7e7e7;
}

@media screen and (max-width : 550px)
{
    body {
        font-size: 1.2em;
    }
    .u-mainNormal {
        margin: 0 auto;
        width: 94%;
    }
}