html {
    font-size: 16px;
}

h1 {
    color: #4a4a4a;
    margin: 20px 0;

}
.u-heading {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.u-link {
    text-decoration: none;
    color: blue;
    font-style: italic;
}


.u-paddingRsm {
    padding-right: 6px;
}


.u-paddingLsm {
    padding-left: 6px;
}

.u-paddingBsm {
    padding-bottom: 3px;
}

.u-paddingTsm {
    padding-top: 3px;
}

.u-paddingVsm {
    padding-top: 3px;
    padding-bottom: 3px;
}

.u-paddingHsm {
    padding-left: 6px;
    padding-right: 6px;
}

.u-paddingRsm {
    padding-right: 6px;
}

.u-marginRsm {
    margin-right: 6px;
}

.u-marginLsm {
    margin-left: 6px;
}

.u-marginBsm {
    margin-bottom: 3px;
}

.u-marginTsm {
    margin-top: 3px;
}

.u-marginVsm {
    margin-top: 3px;
    margin-bottom: 3px;
}

.u-marginHsm {
    margin-left: 6px;
    margin-right: 6px;
}

.u-mainNormal {
    margin: 0 auto;
    width: 80%;
}

.u-flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.u-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-width20 {
    width: 20%;
}

.u-width40 {
    width: 40%;
}

.u-colorBgGreyLight {
    background: #eeeeee;
}

.u-colorBgGrey {
    background: #e7e7e7;
}

@media screen and (max-width : 550px)
{
    body {
        font-size: 1.2em;
    }
    .u-mainNormal {
        margin: 0 auto;
        width: 94%;
    }
}